.contact-me {
    background: #DBEAF7;
    color: #234361;
    text-align: center;
    padding-top: 64px;
}

.contact-me__heading {
    margin-bottom: 32px;
}

.contact-me__description {
    line-height: 32px;
}

.contact-me__links {
    margin-bottom: 64px;
    margin-top: 56px;
}

.contact-me__link {
    text-decoration: none;
}
.contact-me__mail {
    padding-bottom: 88px;
}