.contact-me {
    background: #DBEAF7;
    color: #234361;
    text-align: center;
    padding-top: 64px;
    &__heading {
        margin-bottom: 32px;
    }
    &__description {
        line-height: 32px;
    }
    &__links {
        margin-bottom: 64px;
        margin-top: 56px;
    }
    &__link {
        text-decoration: none;
    }
    &__mail {
        margin-top: 64px;
        padding-bottom: 88px;
    }
}







