.hello {
  background-color: #ffffff;
  text-align: center;
}
.hello__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 98px;
  margin-bottom: 24px;
  border: 12px solid #f6f9fd;
}
.hello__description {
  margin: 16px;
  margin-bottom: 48px;
  color: #425a70;
  font-size: 16px;
  line-height: 32px;
}

.hello__link {
  text-decoration: none;
  color: #4da8ff;
  font-weight: bold;
  font-size: 16px;
}

.hello__header {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  margin: 16px;
  color: #234361;
}

.header__blue {
  color: #1070ca;
}

.hello__mail {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  background: #4da8ff;
  padding: 4px 20px;
  border-radius: 64px;
}
