.skills {
  background-color: #1070ca;
  color: #ffffff;
  padding: 64px 16px 88px;
}

.skills__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
}
.skills__container {
  @media screen and (min-width: 959px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    
  }
}
.skills__icon {
  margin-top: 64px;
  font-size: 42px;
  margin-bottom: 15px;
  text-align: center;
  display: block;
}

.skills__list {
  font-style: normal;
  font-size: 16px;
  color: #DBEAF7;
  width: 288px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 24px;
  padding: 0;
  &--heading {
    text-align: center;
  }
}

.skills__list--working > li::before {
  content: "✔️";
  margin: 0 12px 16px;
}

.skills__list--know-somethig > li::before {
  content: "⚪";
  margin: 0 12px 16px;
}

.skills__list--want > li::before {
  content: "❔";
  margin: 0 12px 16px;
}
