.header {
    height: 70px;
    margin: 15px;
    margin-bottom: 25px;
    color: black;
  }
  
  .header-wrapper {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .img {
    width: 100%;         
    height: auto;  
  }