@media (min-width: 1024px) {
    .App {
      font-size: 20px;
    }
  
    .button-container {
      display: flex;
      justify-content: space-between; /* Rozdziela przyciski na całej szerokości */
      position: absolute; /* Pozycjonowanie absolutne, aby były w górnym rogu */
      top: 10px; /* Odstęp od góry */
      left: 10px; /* Odstęp od lewej */
      right: 10px; /* Odstęp od prawej */
      width: calc(100% - 20px); /* Ustalamy szerokość, by uniknąć dotykania krawędzi */
      z-index: 1000;
    }
  
    .recipe-list-container,
    .recipe-details-container,
    .recipe-form-container {
      max-width: 800px;
      padding: 40px 50px;
    }
  
    .header {
      font-size: 24px;
    }
  
    .recipe-title {
      font-size: 18px;
      padding: 20px;
    }
  
    .delete-button {
      font-size: 18px;
      padding: 15px 25px;
    }
  }