@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');





.App {
  text-align: center;
  font-family: League Spartan;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.button {
    background-color: #26975C;
    border-radius: 20px;
    border: 0;
    font-style: League Spartan;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}